.friend{
   margin: 5px ;
   border: 1px solid #000;
   border-radius: 6px;
   width: 500px;
   display: inline-flex;
}
.img{
   border: 1px solid #000;
   width: 30px;
   height: 30px;
   margin: 5px ;
}
.name{
   margin: 10px ;
}